.header
{
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    background-image: linear-gradient(to right,rgba(#000,.5) , rgba(#000,.5)),url('./../img/hero.jpeg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    grid-column: full-start / full-end;
    height: 90vh;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__quote
    {
        text-align: center;
        color: #fefefe;
    }

    &__quote-author
    {
        align-self: flex-end;
        padding: 2rem;
        margin-right: 8rem;
        text-transform: capitalize;
        font-weight: 500;
        color: #f3fff3;
    }
}
